<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TestuserMapper">
    
    <resultMap type="Testuser" id="TestuserResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="password"    column="password"    />
    </resultMap>

    <sql id="selectTestuserVo">
        select id, name, password from testuser
    </sql>

    <select id="selectTestuserList" parameterType="Testuser" resultMap="TestuserResult">
        <include refid="selectTestuserVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
        </where>
    </select>
    
    <select id="selectTestuserById" parameterType="Long" resultMap="TestuserResult">
        <include refid="selectTestuserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestuser" parameterType="Testuser" useGeneratedKeys="true" keyProperty="id">
        insert into testuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="password != null  and password != ''">password,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="password != null  and password != ''">#{password},</if>
         </trim>
    </insert>

    <update id="updateTestuser" parameterType="Testuser">
        update testuser
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestuserById" parameterType="Long">
        delete from testuser where id = #{id}
    </delete>

    <delete id="deleteTestuserByIds" parameterType="String">
        delete from testuser where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>